<app-navbar></app-navbar>
<div class="content">
  <h3> ระบบค้นหาหอพักใกล้มหาวิทยาลัยราชภัฎภูเก็ต</h3>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; สัญลักษณ์การลงทะเบียนเป็นสัญลักษณ์ที่ทางระบบค้นหาหอพักใกล้มหาวิทยาลัยราชภัฏภูเก็ตช่วยตรวจสอบหอพักและเพิ่มความน่าเชื่อถือของหอพักให้กับผู้ค้นหาหอพัก<br><br>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;        หลักฐานที่ใช้ในการลงทะเบียน<br><br>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;         สำเนาทะเบียนบ้านของ "หอพัก" พร้อมเซ็นสำเนาถูกต้อง<br><br>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;        รูปถ่ายเลขที่บ้านหอพัก โดยให้เห็นเลขที่บ้านของอาคารชัดเจน<br><br>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;        เอกสารลงทะเบียนใช้เพื่อยืนยันตัวตนกับทางเว็บ ระบบค้นหาหอพักใกล้มหาวิทยาลัยราชภัฏภูเก็ต เท่านั้น ไม่ได้แสดงให้ผู้ค้นหาหรือบุคคลทั่วไปเห็น<br><br>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;       **หมายเหตุ : สัญลักษณ์การลงทะเบียนเป็นเพียงการเพิ่มความน่าเชื่อถือของหอพักเท่านั้น <br><br>  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; อย่างไรก็ตามทางผู้ดูแลเว็บไซต์ระบบค้นหาหอพักใกล้มหาวิทยาลัยราชภัฏภูเก็ตสงวนสิทธ์การไม่รับประกันความเสียหายที่เกิดขึ้น กรุณาตรวจสอบข้อมูลแสดงสถานที่ตั้งให้มั่นใจก่อนตกลงโอนเงินหรือทำสัญญาดูเพิ่มเติมข้อกำหนดและเงื่อนไข
<br><br>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;        ช่องทางนำส่งเอกสาร<br><br>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;       สแกนแล้วส่งอีเมล์ที่ Email : โดยแจ้งรหัสหอพัก ชื่อหอพัก อีเมล์ที่ใช้สมัครสมาชิกและรูปภาพหอพัก<br>
</div><br>
<div class="content2">
    <input type="submit" class="btn btn-primary" value="OK" button style="height:40px;width:110px">
</div>