<app-navbar></app-navbar>
&nbsp;<font color="red">
  * สถานะหอพัก
</font><br>
&nbsp;<button class="btn btn-outline-success my-2 my-sm-0">แก้ไขสถานะหอพัก</button>
  <div class="form-group">
    <input type="radio" name="ddepartment" id="1" value="1" class="forn-control" >
            <label for="1" >
                    &nbsp; 1 
            </label>
    <input type="radio" name="ddepartment" id="2" value="2" class="forn-control" >
            <label for="2" >
                    &nbsp;  2 
            </label>
    <input type="radio" name="ddepartment" id="3" value="3" class="forn-control" >
            <label for="3" >
                    &nbsp;  3 
            </label>
    <input type="radio" name="ddepartment" id="4" value="4" class="forn-control" >
            <label for="4" >
                    &nbsp;  4 
            </label>
    <input type="radio" name="ddepartment" id="5" value="5" class="forn-control" >
            <label for="5" >
                    &nbsp;  5 
            </label>

  </div>

  
  <div class="form-group">
    <div class="col-md-10">
            <textarea   name="comment"  class="form-control" placeholder="แสดงความคิดเห็น" >                                           
            </textarea> 
    </div>
  <div class="content">
    <input type="submit" name="btnSave" class="btn btn-primary"  button style="height:40px;width:110px" value="OK" >
  </div>
  </div>