<app-navbar></app-navbar>
<div class="form-group">
  <label for="dname" class="col-md-2 text-right">

  </label>
  <div class="col-md-10">
    <input type="text"  name="dname"  class="form-control" placeholder="ชื่อหอพัก" >
  </div>
</div>
<br>
<div class="form-group">
  <label for="ddetail" class="col-md-2 text-right">

  </label>
  <div class="col-md-10">
    <textarea   name="ddetail"  class="form-control" placeholder="รายละเอียดหอพัก" ></textarea>
  </div>
</div>
<br>
 <div class="form-group">
    รูปภาพ
  <div class="col-md-10">
     <input type="file"  name="image"  class="form-control" placeholder="รูปภาพ" >
  </div>
  
 </div>
<br>
<div class="content">
  <input type="submit" class="btn btn-primary" value="แก้ไข" button style="height:40px;width:60px"><br><br>
</div>
