<app-navbar></app-navbar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="form-group">
  <label for="username" class="col-md-2 text-right">
    <a>
      Username
    </a>
  </label>
  <font color="red">
    *
  </font>
  <div class="col-md-10">
    <input type="text" name="username" class="form-control"  placeholder="Username"  >
  </div>
</div>
<div class="form-group">
    <label for="password" class="col-md-2 text-right">
   <a>
     Password
   </a>
 </label>
 <font color="red">
   *
 </font>
 <div class="col-md-10">
   <input type="password"  name="password"  class="form-control" placeholder="Password" >
    </div>
</div>
<div class="form-group">
  <label for="fname" class="col-md-2 text-right">
    <a>
      ชื่อ
    </a>
  </label>
  <font color="red">
    *
  </font>
  <div class="col-md-10">
     <input type="text"   name="fname"  class="form-control" placeholder="ชื่อ" >
  </div>
 </div>
<div class="form-group">
  <label for="lname" class="col-md-2 text-right">
    <a>
      นามสกุล
    </a>
  </label>
  <font color="red">
    *
  </font>
  <div class="col-md-10">
    <input type="text"  name="lname"  class="form-control" placeholder="นามสกุล" >
  </div>
 </div>
 <div class="form-group">
  <label for="birthday" class="col-md-2 text-right">
    <a>
      วัน/เดือน/ปีที่เกิด
    </a>
  </label>
  <font color="red">
    *
  </font>
  <div class="col-md-10">
    <input type="text"  name="birthday"  class="form-control" placeholder="วัน/เดือน/ปีที่เกิด" >
  </div>
</div>
<div class="form-group">
  <label for="telephone" class="col-md-2 text-right">
    <a>
      เบอร์ติดต่อ
    </a>
  </label>
  <font color="red">
    *
  </font>
  <div class="col-md-10">
    <input type="text"  name="telephone"  class="form-control" placeholder="เบอร์ติดต่อ" >
  </div>
</div>
<div class="form-group">
  <label for="E-mail" class="col-md-2 text-right">
    <a>
      E-mail Address
    </a>
  </label>
  <font color="red">
    *
  </font>
  <div class="col-md-10">
    <input type="text"  name="E-mail"  class="form-control" placeholder="E-mail" ><br>
  </div>
</div>
<div class="form-group">
  <label for="image" class="col-md-2 text-right">
    <a>
      รูปภาพ
    </a>
  </label>
  <div class="col-md-10">
    <input type="file"  name="image"  class="form-control" placeholder="รูปภาพ" >
  </div>
</div><br><br>
<div class="content">
  <input type="submit" name="btnSave" class="btn btn-primary" value="แก้ไข" > 
</div>